# Ignorar pastas de dependências
node_modules/

# Ignorar arquivos de CSS e ícones que não são necessários no backend
assets/css/
assets/icons/

# Ignorar arquivos de log e temporários
*.log
*.tmp
*.bak

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos sensíveis
*.env
config.json

# Ignorar pastas de construção/empacotamento (se estiver usando)
dist/
build/

# Ignorar ferramentas de desenvolvimento específicas
.vscode/
.idea/

# Ignorar pastas de cache ou geradas automaticamente
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos do repositório do Git
.git/